/* GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.6;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.lead {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body {
  padding-top: 43px;
}
/* navbar
-------------------------------------------------*/
@media (min-width: 768px) {
  .navbar {
    min-height: 40px;
  }
  .navbar-nav > li > a {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
    height: 42px;
  }
}
/* Jumbotrons
-------------------------------------------------- */
/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  background: #020031;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #6d3353));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #020031 0%, #6d3353 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  /* Link styles (used on .masthead-links as well) */
  /* Pattern overlay
  ------------------------- */
}
.jumbotron a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.jumbotron aa:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(
    ../img/bs-docs-masthead-pattern.png
    ) repeat center center;
  opacity: .3;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) {
  .jumbotron:after {
    background-size: 150px 150px;
  }
}
/* Masthead (docs home)
------------------------- */
/* mac
  x https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?dpr=2&fit=crop&fm=jpg&h=775&q=75&w=1050
  x https://ununsplash.imgix.net/19/desktop.JPG?q=75&fm=jpg&s=b061e6f78a692b76efb861a35e901b21
  x https://ununsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?q=75&fm=jpg&s=11f3120e69059e1d6ce7f32c6dd6c651
  https://ununsplash.imgix.net/46/M1IHnsfYRz2ThTgzl6qz_canyousea.jpg?q=75&fm=jpg&s=9b39649f05e51bfebf391f6af95a8680
  https://ununsplash.imgix.net/1/type-away-numero-dos.jpg?q=75&fm=jpg&s=3e7b3b42b31cc4656fcbf21fda79d47e
  https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75&fm=jpg&s=2932c8eb9ebcc24a1c62db3fa0c1debf
  https://unsplash.imgix.net/uploads/141103282695035fa1380/95cdfeef?q=75&fm=jpg&s=f5a9bd550dd2400fd33b1d46e1ed3e0d
  */

.masthead {
  margin-bottom: 0;
  color: #fff;
}

.masthead h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
@media screen and (min-width: 768px) {
  .masthead h1 {
    font-size: 90px;
  }
}
@media screen and (min-width: 992px) {
  .masthead h1 {
    font-size: 100px;
  }
}
.masthead h2 {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .masthead h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .masthead h2 {
    font-size: 30px;
  }
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}
.masthead .masthead-button-links {
  margin-top: 30px;
}
/* Textual links in masthead */
.masthead-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.25);
}
.masthead-links li a:hover {
  color: #fff;
}
.masthead-section p{
  font-size:14px;
  text-shadow:0px 0px 3px rgba(11,11,11,.5);
}
.masthead-section code{
  text-shadow:none;
  background-color:#222;
  box-shadow: 0px 0px 3px rgba(1,1,1,.3);
  color:white;
}
.subhead {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
  .subhead {
    text-align: left;
  }
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subhead p {
    text-align: left;
  }
}
.masthead-tip{
  background:rgba(1,1,1,.1);padding:5px 10px;border-radius:5px;display:inline-block;
}
/* btn
------------------------------------------*/
.btn-primary.btn-shadow {
  -webkit-box-shadow: inset 0 -4px 0 #2a6496;
  box-shadow: inset 0 -4px 0 #2a6496;
  border: 0;
  color: #fff;
}
.btn-lg.btn-shadow {
  padding: 13px 35px 17px;
}
/* Social
-------------------------------------------------*/
.bc-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}
.bc-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bc-social-buttons li {
  display: inline-block;
  line-height: 1;
  color: #555555;
}
.bc-social-buttons li .fa {
  font-size: 18px;
  margin-right: 3px;
}
.bc-social-buttons li .fa-weibo {
  font-size: 20px;
}
.bc-social-buttons li a {
  color: #555555;
}
.bc-social-buttons li.social-qq:hover {
  color: #428bca;
}
.bc-social-buttons li.social-weibo a:hover {
  color: #d9534f;
}
.bc-social-buttons > li + li:before {
  padding: 0 10px;
  color: #ccc;
  content: "|";
}
/* projects
------------------------------------------*/
.projects .thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 310px;
  margin-bottom: 30px;
  border-radius: 0;
}
.projects .thumbnail .caption {
  height: 200px;
  overflow-y: hidden;
  color: #555;
}
.projects .thumbnail .caption a:hover,
.projects .thumbnail .caption a:focus {
  text-decoration: none;
}
.projects .thumbnail img {
  max-width: 100%;
  height: auto;
}
.projects-header {
  width: 60%;
  text-align: center;
  margin: 60px 0 10px;
  font-weight: 200;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.projects-header h2 {
  font-size: 30px;
  letter-spacing: -1px;
}
@media screen and (min-width: 768px) {
  .projects-header h2 {
    font-size: 42px;
  }
}
/* nav sub 
--------------------------------------------*/
.nav-sub {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 70px;
  border-top: 1px solid #eeeeee;
}
/* footer 
--------------------------------------------*/
.footer {
  color: #777777;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}
.footer a {
  color: #777777;
}
.footer-top .about > div {
  height: 110px;
  margin-bottom: 10px;
  /*@media (min-width: @grid-float-breakpoint) {
      &+ div {
          border-left: 1px solid @gray-lighter;
          padding-left: 30px;
      }
    }*/
}
.footer-top .about > div h4 {
  color: #563d7c;
  font-size: 16px;
}
.footer-bottom {
  font-size: 13px;
}
.footer-bottom ul > li {
  padding: 0;
}
.footer-bottom ul > li + li:before {
  padding: 0 10px;
  color: #ccc;
  content: "|";
}
/* scroll up
--------------------------------------------*/
#scrollUp {
  background-color: #777777;
  color: #eeeeee;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 46px;
  height: 46px;
  border: none;
  opacity: .8;
}
#scrollUp:hover {
  background-color: #333333;
}
@media screen and (min-width: 992px) {
  #scrollUp {
    bottom: 100px;
  }
}
/* friend links
--------------------------------------------*/
.bc-sidebar {
  margin-top: 30px;
}
.bc-sidebar > ul > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
/*
    Post List
*/
.excerpt-list {
  margin-top: 60px;
}
.excerpt {
  min-height: 120px;
  border: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 10px;
  padding: 20px 20px 20px 24px;
}
.excerpt-title {
  font-size: 24px;
  margin-top: 0;
}
.excerpt-title a {
  color: #555555;
}
.excerpt-title a:hover,
.excerpt-title a:active {
  color: #3071a9;
}
.excerpt-meta {
  position: absolute;
  bottom: 12px;
}
.excerpt-tags {
  color: #777777;
}
.excerpt-tags .glyphicon {
  position: relative;
  top: 2px;
  color: #eeeeee;
}
.excerpt-tags a,
.excerpt-tags span {
  color: #777777;
  font-size: 12px;
}
/*
    Post Page
*/
.post {
  position: relative;
  margin-top: 60px;
  max-width: 680px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-header h1,
.post-header h2 {
  font-size: 32px;
  margin: 0 0 45px 0;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .post-header h1,
  .post-header h2 {
    font-size: 36px;
  }
}
.post-header h1:after,
.post-header h2:after {
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  content: "";
  left: 50%;
  margin: 0 0 0 -30%;
  position: absolute;
  width: 60%;
}
.post-header h1 a,
.post-header h2 a {
  color: #363636;
  display: block;
  padding: 65px 0 20px;
  position: relative;
}
.post-header h1 a:hover,
.post-header h2 a:hover {
  color: #428bca;
}
.post-header h1 a:before,
.post-header h2 a:before {
  border-top: 1px solid #e5e5e5;
  bottom: -4px;
  content: "";
  left: 50%;
  margin: 0 0 0 -27%;
  position: absolute;
  width: 60%;
}
.post-header h1 a:after,
.post-header h2 a:after {
  border-top: 1px solid #e5e5e5;
  bottom: -3px;
  content: "";
  left: 50%;
  margin: 0 0 0 -28%;
  position: absolute;
  width: 60%;
}
@media (min-width: 768px) {
  .post-header h1 a,
  .post-header h2 a {
    padding-left: 65px;
    padding-right: 65px;
  }
}
.post-content {
  font-size: 16px;
  line-height: 1.8;
  padding-top: 20px;
  padding-bottom: 20px;
}
.post-content p,
.post-content pre,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content form,
.post-content hr,
.post-content table,
.post-content blockquote {
  margin-bottom: 1.8em;
}
.post-content blockquote {
  font-size: 16px;
}
.post-content pre .{
  margin-top: -20px;
}
.post-content li > p {
  margin-bottom: 5px;
}
.post-content img,
.post-content video,
.post-content embed,
.post-content iframe {
  max-width: 100%;
}
.post-content img {
  height: auto;
}
article.page {
  margin-top: 0;
  max-width: none;
}
article.page .post-content {
  padding-top: 0;
}
article.page .post-content h2 {
  font-size: 36px;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
/* highlightjs S*/
pre{
  display:block;
  overflow-x:auto;
  padding:0.5em;
  color:#f8f8f2;
  background:#23241f;
  border:none;
  box-shadow:0px 0px 3px rgba(1,1,3,.1);
  -webkit-text-size-adjust:none
}
pre .tag,.css pre .rules,.css pre .value,.aspectj pre .function,.css pre .function pre .preprocessor,pre .pragma{
  color:#f8f8f2
}
pre .strongemphasis,pre .strong,pre .emphasis{
  color:#a8a8a2
}
pre .bullet,pre .blockquote,pre .horizontal_rule,pre .number,pre .regexp,.alias pre .keyword,pre .literal,pre .hexcolor{
  color:#ae81ff
}
pre .tag pre .value,pre .code,pre .title,.css pre .class,pre .class pre .title:last-child{
  color:#a6e22e
}
pre .link_url{
  font-size:80%
}
pre .strong,pre .strongemphasis{
  font-weight:bold
}
pre .emphasis,pre .strongemphasis,pre .class pre .title:last-child,pre .typename{
  font-style:italic
}
pre .keyword,.ruby pre .class pre .keyword:first-child,.ruby pre .function pre .keyword,pre .function,pre .change,pre .winutils,pre .flow,.nginx pre .title,.tex pre .special,pre .header,pre .attribute,pre .symbol,pre .symbol pre .string,pre .tag pre .title,pre .value,.alias pre .keyword:first-child,.css pre .tag,.css .unit,.css pre .important{
  color:#f92672
}
pre .function pre .keyword,pre .class pre .keyword:first-child,pre .aspect pre .keyword:first-child,pre .constant,pre .typename,.css pre .attribute{
  color:#66d9ef
}
pre .variable,pre .params,pre .class pre .title,pre .aspect pre .title{
  color:#f8f8f2
}
pre .string,.css pre .id,pre .subst,pre .type,.ruby pre .class pre .parent,pre .built_in,.django pre .template_tag,.django pre .variable,.smalltalk pre .class,.django pre .filter pre .argument,.smalltalk pre .localvars,.smalltalk pre .array,pre .attr_selector,pre .pseudo,pre .addition,pre .stream,pre .envvar,.apache pre .tag,.apache pre .cbracket,.tex pre .command,pre .prompt,pre .link_label,pre .link_url{
  color:#e6db74
}
pre .comment,pre .javadoc,pre .annotation,pre .decorator,pre .pi,pre .doctype,pre .deletion,pre .shebang,.apache pre .sqbracket,.tex pre .formula{
  color:#75715e
}
.coffeescript .javascript,.javascript .xml,.tex pre .formula,.xml .javascript,.xml .vbscript,.xml .css,.xml pre .cdata,.xml .php,.php .xml{
  opacity:0.5
}


/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}

/* highlightjs E*/
/* table S*/
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    margin-bottom: 1em;
}

table th {
    font-weight: bold;
}

table th,table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
/* table S*/

/* index S*/
.githubstar{
  margin-top:12px;
}
.parameter-info li strong{
  display: inline-block;width:100px;
}
/* index S*/


/********************************
*
*  COMMENTS
*
********************************/
/*
http://fex-team.github.io/webuploader/css/style.css
*/

.ui-comments .comment {
    background-color: transparent;
    border-color: #bfccd1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
  }
.ui-comments .loading{
    display: block;
    width:32px;
    height:32px;
    margin-left: auto;
    margin-right: auto;
}
.ui-comments .comment .commentheader {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color: black;
  background-color: #f2f8fa;
  border-bottom-color: #e1edf1;
  color: black;
  display: block;
  float: left;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 100%;
}

.ui-comments .comment .commentheader .commentgravatar {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-image: none;
  background-origin: padding-box;
  color: black;
  display: inline-block;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: -2px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 1px;
  text-overflow: clip;
  vertical-align: middle;
  white-space: nowrap;
  width: 20px;
  border-radius:3px;
}
.ui-comments .comment .commentheader .commentgravatar img{
  border-radius:3px;
}

.ui-comments .comment .commentheader a:link {
  text-decoration: none;
}

.ui-comments .comment .commentheader a:hover {
  border-bottom:1px solid;
}


.ui-comments .comment .commentheader .commentuser {
  background-color: transparent;
  color: black;
  display: inline;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 0px;
  line-height: 16px;
  margin-left: 5px;
  margin-right: 10px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  text-overflow: clip;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 0px;
}

.ui-comments .comment .commentheader .commentdate {
  background-color: transparent;
  color: #777;
  display: inline;
  float: none;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 0px;
  line-height: 33px;
  margin: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  text-overflow: clip;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  white-space: nowrap;
  width: 20em;
}

.ui-comments .comment .commentbody {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  color: #333;
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 40px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0em;
  position: static;
  width: 96%;
  word-wrap: break-word;
}

.ui-comments .comment .commentbody p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.ui-comments .comment .commentbody pre {
  border: 0px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.ui-comments .comment .commentbody pre code {
  border: 0px solid #ddd;
}

.ui-comments .comment .commentbody code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}
